@font-face {
    font-family: 'star_jedi_outlineregular';
    src: url('../fonts/starjout-webfont.woff2') format('woff2'),
         url('../fonts/starjout-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'star_jediregular';
    src: url('../fonts/starjedi-webfont.woff2') format('woff2'),
         url('../fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h3 {
    font-family: 'star_jediregular';
    color: rgb(206, 206, 1);
    /* color: #feda4a; */

}
h5 {
    font-family: 'star_jediregular';
    color: red;
    /* color: #feda4a; */

}

#gameArea {
    /* width: 100%; */
    /* width: 100%; */
    height: 700px;
    background-image: url("../images/crait_background.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center top;
    /* margin-left: auto;
    margin-right: auto; */

}
.charBox {
    position: relative;
    width: 150px;
    height: 125px;
    border: black 2px solid;
    overflow: visible;
    transition: all 0.3s;
}
.charBox:hover {
    border-color: lightgrey;
}
.charName {
    text-align: center;
}
.charImg {
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.charImg img {
    width: 130px;
}
.pickChar .charHp{
    color: red;
 
}
.charHp {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}
.char .charBox {
    background-color: white;
}
.defRow, .comRow {
    height: 47px;
}
.defender .charBox {
    background-color: red;
}
.pickDefender .charHp {
    color: yellow;
 
}
.combatDefender {
    color: white;
    background-color: black;
}
.combatDefender .charHp {
    color: white;

}