@font-face {
    font-family: 'star_jedi_outlineregular';
    src: url('../fonts/starjout-webfont.woff2') format('woff2'),
         url('../fonts/starjout-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'star_jediregular';
    src: url('../fonts/starjedi-webfont.woff2') format('woff2'),
         url('../fonts/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* *   {
    transition: all 0.3s;
} */

h3 {
    font-family: 'star_jediregular';
    color: rgb(255, 225, 0);
    /* color: #feda4a; */
    text-shadow: 0 0 4px black;
    text-align: center;

}
h5 {
    font-family: 'star_jediregular';
    color: red;
    text-shadow: 0 0 0.1px black;
    word-wrap: break-word;
    text-align-last: center;
    /* color: #feda4a; */

}

#gameArea {
    /* width: 100%; */
    /* width: 100%; */
    height: 700px;
    background-image: url("../images/crait_background.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center top;
    /* margin-left: auto;
    margin-right: auto; */

}
.charBox {
    position: relative;
    max-width: 150px;
    height: 125px;
    border: black 2px solid;
    overflow: visible;
    transition: all 0.3s;
    margin-left: auto;
    margin-right: auto;
}
.charBox:hover {
    border-color: lightgrey;
}
.charName {
    text-align: center;
}
.charImg {
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.charImg img {
    max-width: 130px;
}
.pickChar .charHp{
    color: red;
 
}
.charHp {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}
.char .charBox {
    background-color: white;
}
.playerRow {
    min-height: 47px;
}
.defenderText, .combatText {
    height: 47px;
}
.defender .charBox {
    background-color: red;
}
.pickDefender .charHp {
    color: yellow;
 
}
.combatDefender .charBox{
    color: white;
    background-color: black;
}
.combatDefender .charHp {
    color: white;

}
.attackButton h3 {
    text-align: center;
}